<section class="app">
    <mat-toolbar color="primary">
        <span>Educación</span>
    </mat-toolbar>
    
    <div class="app-content">
        <ul class="list list-education">
            <li class="list-item text-primary" *ngFor="let study of studies | async">
                <div class="list-item-image-container">
                    <img class="list-item-image" src="{{ study.src }}">
                </div> 
                <div class="list-item-title">{{ study.degree }}</div>
                <div class="list-item-subtitle list-item-dates text-secondary">
                    <time class="date-start">{{ study.date_start.toDate() | date: 'yyyy' }}</time>
                    <time class="date-end" *ngIf="study.date_end">{{ study.date_end.toDate() | date: 'yyyy' }}</time>
                    <time class="date-end" *ngIf="!study.date_end">Today</time>
                </div>
                <div class="list-item-description">{{ study.school }}</div>
            </li>
        </ul>
    
        <mat-spinner class="loading" *ngIf="loading" color="accent" diameter="64"></mat-spinner>
    </div>
</section>
