<section class="app">
    <mat-toolbar color="primary">
        <span>Education</span>
    </mat-toolbar>
    
    <ul class="list">
        <li class="list-item" *ngFor="let study of studies | async">
            <img class="list-item-image" src="{{ study.src }}">
            <div class="list-item-title">{{ study.degree }}</div>
            <div class="list-item-dates">
                <time class="date-start">{{ study.date_start.toDate() | date: 'yyyy' }}</time>
                <time class="date-end">{{ study.date_end.toDate() | date: 'yyyy' }}</time>
            </div>
        </li>
    </ul>
</section>
