<section class="app">
    <mat-toolbar color="primary">
        <span>Hobbies</span>
    </mat-toolbar>

    <div class="app-content">
        <ul class="list">
            <li class="list-item text-primary" *ngFor="let hobby of hobbies | async">
                <img class="list-item-image" src="{{ hobby.src }}">
                <div class="list-item-description primary">{{ hobby.label }}</div>
            </li>
        </ul>
    
        <mat-spinner class="loading" *ngIf="loading" color="accent" diameter="64"></mat-spinner>
    </div>
</section>