.list-item {
    grid-template-columns: initial;
    grid-template-rows: initial;
    margin: 32px 0;
}

.list-item-image {
    grid-row: initial;
    height: 192px;
    width: 192px;
}

.list-item-description {
    text-align: center;
}