<section class="app">
    <mat-toolbar class="mat-toolbar-work">
        <mat-toolbar-row class="mat-toolbar-row-first">
            <a mat-icon-button aria-label="Back" [routerLink]="['/experience/']">
                <mat-icon>arrow_back</mat-icon>
            </a>
        </mat-toolbar-row>
        
        <mat-toolbar-row class="mat-toolbar-row-work">
            <span>{{ (work | async)?.company }}</span>
            <div class="work-dates">
                <time class="work-date-start">{{ (work | async)?.date_start.toDate() | date: 'yyyy' }}</time>
                <time class="work-date-end">{{ (work | async)?.date_end.toDate() | date: 'yyyy' }}</time>
            </div>
        </mat-toolbar-row>
        <img class="work-image" src="/assets/img/experience/detail/{{ (work | async)?.image }}" alt="{{ (work | async)?.company }}">
    </mat-toolbar>
    
    <section class="section section-projects">
        <h3>Projects</h3>
        <ul>
            <li *ngFor="let project of projects | async">
                <h4 class="project-name">{{ project.name }}</h4>
                <p>{{ project.description }}</p>
            </li>
        </ul>
    </section>

    <mat-divider></mat-divider>

    <mat-list>
        <h3 mat-subheader>Technologies</h3>
        <mat-list-item *ngFor="let technology of technologies | async">
            <h4 mat-line>{{ technology.name }}</h4>
        </mat-list-item>
    </mat-list>

</section>