.mat-toolbar-work {
    position: relative;
}

.mat-toolbar-row-first {
    height: 112px;
    padding: 0;
    align-items: flex-start;
}

.mat-toolbar-row-work {
    justify-content: space-between;
}

.section {
    padding: 24px 16px;
}

.project-description {
    margin: 0;
    font-size: 12px;
}

.project-item {
    margin-bottom: 16px; 
}

.project-item:last-child {
    margin-bottom: 0;
}

.project-name {
    margin-bottom: 0;
}

.work-image {
    position: absolute;
    height: 154px;
    left: 0;
    right: 0;
    margin: auto;
    opacity: 0.6;
    top: 8px;
}

.work-dates {

    & {
        font-size: 12px;
    }

    & .work-date-start::after {
        content: "-";
        display: inline-flex;
        margin: 0 3px;
    }
}

.technology-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 24px;
    justify-items: center;
    margin: 16px 0;
}

.technology-list-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.technology-image {
    width: 48px;
}

.technology-name {
    text-align: center;
    font-size: 12px;
    margin-top: 8px;
}