<div class="app">
    <mat-toolbar class="mat-toolbar-work">
        <mat-toolbar-row class="mat-toolbar-row-first">
            <a mat-icon-button aria-label="Back" [routerLink]="['/experience/']">
                <mat-icon>arrow_back</mat-icon>
            </a>
        </mat-toolbar-row>
        
        <mat-toolbar-row class="mat-toolbar-row-work">
            <span>{{ (work | async)?.company }}</span>
            <div class="work-dates text-secondary">
                <time class="work-date-start">{{ (work | async)?.date_start.toDate() | date: 'yyyy' }}</time>
                <time class="work-date-end">{{ (work | async)?.date_end.toDate() | date: 'yyyy' }}</time>
            </div>
        </mat-toolbar-row>
        <img class="work-image" [ngClass]="(work | async)?.class" src="{{ (work | async)?.src }}" alt="{{ (work | async)?.company }}">
    </mat-toolbar>

    <div class="app-content app-content-sm">
        <section class="section section-projects text">
            <h2 mat-subheader class="mat-subheader-section text-secondary">Proyectos</h2>
            <ul class="text">
                <li class="project-item" *ngFor="let project of projects | async">
                    <h3 class="project-name mat-h3">{{ project.name }}</h3>
                    <p class="project-description">{{ project.description }}</p>
                </li>
            </ul>
        </section>
    
        <mat-divider></mat-divider>
    
        <section class="section section-technologies">
            <h2 mat-subheader class="mat-subheader-section text-secondary">Tecnologías</h2>
            <ul class="technology-list">
                <li class="technology-list-item" *ngFor="let technology of technologies | async">
                    <img class="technology-image" src="{{ technology.src }}" alt="{{ technology.name }}">
                    <div class="technology-name">{{ technology.name }}</div>
                </li>
            </ul>
        </section>
    </div>
    

</div>