@import "~src/assets/scss/sizes";

.app {
    & {
        position: fixed;
        top: $height-notification-bar; 
        bottom: $height-navigation-bar;
        background-color: $app-bg-color;
        left: 0;
        right: 0;
    }
}