$color-bg-button: #FFFFFF;
$color-navigation-icon: #FFFFFF;

$app-bg-color: #FFFFFF;
$app-primary-color-dark: #4a0073;
$navigation-bar-bg-color: #000000;

$profile-link-bg-color: #8189E5;
$profile-link-color: #FFFFFF;

$text-secondary-color: #666666;