.list {
    margin: 32px 0;
}

.list-

.list-item,
.list-item-link {
    
    & {
        display: grid;
        grid-template-columns: 80px 1fr;
        grid-template-rows: 24px 16px 1fr;
        margin: 8px;
    }

    & .list-item-description {
        font-size: 16px;
    }

    & .list-item-image {
        border-radius: 50%;
        grid-row: 1 / 4;
        margin: 0 auto;
        width: 64px;
        height: 64px;
    }

    & .list-item-title {
        font-size: 19px;
        font-weight: normal;
        margin: auto 0;
    }

    & .list-item-subtitle {
        font-size: 13px;
        /*color: $text-secondary-color;*/
    }

    & .list-item-dates {
        display: flex;
    }

    & .list-item-dates .date-start:after {
        content: "-";
        display: inline-flex;
        margin: 0 3px;
    }

    & .list-item-navigation {
        grid-column: 3;
        grid-row: 1/4;
        align-self: center;
    }

}