@import '~@angular/material/theming';
@include mat-core();


@import './theme/notification-bar';
@import './theme/dock';
@import './theme/text';



$custom-primary-color: (
    50 : #96979b,
    100 : #b8b9c0,
    200 : #888b97,
    300 : #585d6d,
    400 : #353a4d,
    500 : #11172e,
    600 : #0f1429,
    700 : #0c1123,
    800 : #0a0d1d,
    900 : #050712,
    A100 : #546aff,
    A200 : #213eff,
    A400 : #001fed,
    A700 : #001bd4,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #ffffff,
        A200 : #ffffff,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);


$app-primary: mat-palette($custom-primary-color);
$app-accent:  mat-palette($mat-pink, A200, A100, A400);
$app-warn:    mat-palette($mat-red);


$app-theme: mat-light-theme($app-primary, $app-accent, $app-warn);


@include angular-material-theme($app-theme);

@include app-notification-bar($app-theme);
@include app-dock($app-theme);
@include app-text($app-theme);