<nav class="align-items-center">
    <ul class="dock-list">
        <li>
            <a class="dock-link center" mat-fab routerLink="/experience" routerLinkActive="active">
                <mat-icon>work</mat-icon>
            </a>
        </li>
        <li>
            <a class="dock-link center" mat-fab routerLink="/education" routerLinkActive="active">
                <mat-icon>school</mat-icon>
            </a>
        </li>
        <li>
            <a class="dock-link center" mat-fab routerLink="/profile" routerLinkActive="active">
                <mat-icon>person</mat-icon>
            </a>
        </li>
        <li>
            <a class="dock-link center" mat-fab routerLink="/skills" routerLinkActive="active">
                <mat-icon>build</mat-icon>
            </a>
        </li>
        <li>
            <a class="dock-link center" mat-fab routerLink="/hobbies" routerLinkActive="active">
                <mat-icon>toys</mat-icon>
            </a>
        </li>
    </ul>
    
  </nav>
