<nav>
    <ul>
        <li>
            <a mat-fab color="primary" routerLink="/works" routerLinkActive="active">
                <mat-icon>work</mat-icon>
            </a>
        </li>
        <li>
            <a mat-fab color="primary" routerLink="/studies" routerLinkActive="active">
                <mat-icon>school</mat-icon>
            </a>
        </li>
        <li>
            <a mat-fab color="primary" routerLink="/works" routerLinkActive="active">
                <mat-icon>work</mat-icon>
            </a>
        </li>
        <li>
            <a mat-fab color="primary" routerLink="/studies" routerLinkActive="active">
                <mat-icon>school</mat-icon>
            </a>
        </li>
    </ul>
    
  </nav>
