<nav>
    <ul class="dock-list">
        <li>
            <a class="dock-link" mat-fab routerLink="/works" routerLinkActive="active">
                <mat-icon>work</mat-icon>
            </a>
        </li>
        <li>
            <a class="dock-link" mat-fab routerLink="/studies" routerLinkActive="active">
                <mat-icon>school</mat-icon>
            </a>
        </li>
        <li>
            <a class="dock-link" mat-fab routerLink="/works" routerLinkActive="active">
                <mat-icon>work</mat-icon>
            </a>
        </li>
        <li>
            <a class="dock-link" mat-fab routerLink="/studies" routerLinkActive="active">
                <mat-icon>school</mat-icon>
            </a>
        </li>
    </ul>
    
  </nav>
