@import "~src/assets/scss/colors";
@import "~src/assets/scss/sizes";

.dock-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(64px, 1fr));
    justify-items: center;
}

.dock-link {
    
    & {
        background-color: $color-bg-button;
        height: $dock-button-size;
        width: $dock-button-size;
    }

    &.center {
        display: inline-flex;
        align-items: center;
        justify-content: center;
    }

}