@use '~@angular/material' as mat;
@mixin app-phone($theme) {
    $primary: map-get($theme, primary);
    $background: map-get($theme, background);
    
    .app {
        background-color: mat.get-color-from-palette($primary, default-contrast);
    }
    
    .app-content {
        background-color: mat.get-color-from-palette($background, card);
    }

}