@use '~@angular/material' as mat;
@mixin app-dock($theme) {
    $foreground: map-get($theme, foreground);
    $primary: map-get($theme, primary);

    .dock-link.mat-fab {
        background-color: mat.get-color-from-palette($primary, default-contrast);
        color: mat.get-color-from-palette($foreground, text);
    }

    .dock-link-profile {
        background-color: $profile-link-bg-color;
        color: $profile-link-color;
    }
}