@mixin app-profile($theme) {
    $primary: map-get($theme, primary);
    
    .profile-avatar {
        border-color: mat-color($primary, default-contrast);
    }

    .profile-contact-list-item {
        
        & .mat-icon {
            color: mat-color($primary, 300);
        }
        
        & .profile-contact-data {
            color: mat-color($primary, 800);
        }

    }
}