@use '~@angular/material' as mat;
@mixin app-text($theme) {
    $config: mat.define-typography-config();
    $foreground: map-get($theme, foreground);

    .text {
        font-family: mat.font-family($config);
    }

    .text-primary {
        color: mat.get-color-from-palette($foreground, text);
    }

    .text-secondary {
        color: mat.get-color-from-palette($foreground, secondary-text);
    }

    .mat-subheader-section {
        font-size: 14px;
        font-weight: 500;
        margin: 0 0 8px 0;
    }
      
}