<section class="app">
    <mat-toolbar color="primary">
        <span>Habilidades</span>
    </mat-toolbar>

    <div class="app-content">
        <ul class="list list-skills">
            <li *ngFor="let skill of skills | async">
                <img class="list-item-image" src="{{ skill.src }}" alt="{{ skill.label }}">
                <div class="list-item-description text-description">{{ skill.label }}</div>
            </li>
        </ul>
    
        <mat-spinner class="loading" *ngIf="loading" color="accent" diameter="64"></mat-spinner>
    </div>
    
</section>
