.phone {

    & {
        height: 100%;
    }
    
}

.screen {
    
    & {
        align-items: center;
        display: grid;
        grid-template-rows: 24px 1fr 80px 56px;
        height: 100%;
        padding: 8px;
        position: relative;
    }

    &.background {
        background-image: url('/assets/img/mountain.png');
        background-size: cover;
        background-position: center;
    }

}