@import "~src/assets/scss/sizes";

.router-outlet-container {
    
    & {
        position: fixed;
        left: 0;
        right: 0;
        bottom: $height-navigation-bar;
    }

}

.app-notification-bar {
    transition: background-color 200ms linear;
}

.phone {
    height: 100%;
    margin: auto;
    max-width: 480px;
    max-height: 825px;
}

.screen {
    
    & {
        display: grid;
        grid-template-rows: $height-notification-bar 1fr 80px $height-navigation-bar;
        height: 100%;
        position: relative;
    }

    &.background {
        background-color: #393D66;;
        background-image: url('/assets/img/mountain.png');
        background-size: cover;
        background-position: center;
    }

}