@import "~src/assets/scss/sizes";

.phone {

    & {
        height: 100%;
    }
    
}

.screen {
    
    & {
        display: grid;
        grid-template-rows: $height-notification-bar 1fr 80px $height-navigation-bar;
        height: 100%;
        position: relative;
    }

    &.background {
        background-image: url('/assets/img/mountain.png');
        background-size: cover;
        background-position: center;
    }

}