<section class="app">
    <mat-toolbar color="primary">
        <span>Profile</span>
    </mat-toolbar>
    
    <div class="profile">
        <div class="profile-background">
            <div class="profile-backgroung-opacity"></div>
        </div>

        <div class="profile-info">
            <div class="profile-avatar">
                <img class="profile-avatar-image" src="/assets/img/profile/avatar.jpg" alt="Avatar">
            </div>
            <div class="profile-name primary">
                Federico González
            </div>
            <p class="profile-presentation text-secondary">
                Trabajo en sistemas con el objetivo de ayudar a mis clientes a mejorar y optimizar sus procesos de negocio. <br>
                Siempre con la filosofía de centrarme en sus necesidades y labor dentro de la sociedad.
            </p>
        </div>
    </div>
</section>
