<section class="app">
    <mat-toolbar color="primary">
        <span>Profile</span>
    </mat-toolbar>
    
    <div class="profile">
        <div class="profile-background">
            <div class="profile-backgroung-opacity"></div>
        </div>

        <div class="profile-info">
            
            <div class="profile-avatar">
                <img class="profile-avatar-image" src="/assets/img/profile/avatar.jpg" alt="Avatar">
            </div>
            
            <div class="profile-name primary">
                {{ (profile | async)?.name }}
            </div>
            
            <p class="profile-presentation text-secondary">
                {{ (profile | async)?.presentation }}
            </p>
            
            <div class="profile-contact">
                <ul class="profile-contact-list">
                    <li class="profile-contact-list-item">
                        <mat-icon>phone</mat-icon>
                        <span>+54 11 5764-5955</span>
                    </li>
                    <li class="profile-contact-list-item">
                        <mat-icon>email</mat-icon>
                        <span>federico1818@gmail.com</span>
                    </li>
                </ul>
            </div>
            
        </div>

    </div>
</section>
